<h2>Current Poll</h2>
<h3>{{question}}</h3>
<form method="POST" action="/poll">
    <input type="hidden" name="question" value="{{question}}">
    {{#each answerChoices}}
    <input type="radio" name="answer" value={{this}} required>{{this}}</input><br>
    {{/each}}
    <input type="submit">
</form>

<h3>Current Votes</h3>
<ul class="no-bullets">
    {{#each votes}}
    <li>{{@key}}:{{this}}</li>
    {{/each}}
</ul>